<!-- #mainContent -->
	<div id="mainContent">
		<h1>Мембранная кровля</h1>
		<p>В настоящее время европейские и российские производители предлагают три вида мембран, которые отличаются своим составом, способом укладки и цветовой гаммой.</p>
   <ul>
     <li>ТПО-мембраны;</li>
     <li>ПВХ-мембраны;</li>
     <li>ЭПДМ-мембраны.</li>
   </ul>

	<h2>ТПО-мембраны</h2>
		<p>Мембрана ТПО (термопластичная полиолефиновая) состоит из искусственного этиленпропиленового каучука и собственно пропилена. Армирующим слоем служит сетка полиэстера или стекловолокна. Существуют разновидности без армирующего слоя. </p>
	<p><img src="/assets/second1.jpg" width="500" height="181" alt="Мембранная кровля"></p>
	<h3>Преимущества:</h3>
   <ul>
     <li>Мембранная кровля из такого материала отличается высокой прочностью. </li>
     <li>Производители обещают эксплуатационный срок более 50 лет. </li>
     <li>Поскольку в состав ТПО-мембран не входят летучие пластификаторы, они считаются экологически-безопасными.</li>


     <li>Их характеристики позволяют вести монтаж мембранной кровли при любой температуре, в том числе и в мороз. ТПО-мембраны хорошо зарекомендовали себя в северных районах, нижняя граница их эксплуатационной температуры -62°С.</li>

     <li>Повышенная прочность материала дает возможность накрывать им сложные конфигурации крыш домов и других зданий.  Все материалы, которые представлены на белорусском рынке – зарубежного производства.</li> 
   </ul>
	<p><img src="/assets/second2.jpg" width="500" height="300" alt="Мембранная кровля"></p>
<h2>Технология укладки таких мембран предусматривает 3 варианта:</h2>
<ul>
	<li>механическое закрепление с помощью саморезов к кровле. Саморезы обязательно должны крепиться через шайбу, а затем места креплений завариваются заплатками. Мембранное полотно настилается с нахлестом не менее 1,2 см. </li>
	<li>сварка горячим воздухом. В этом случае шов приобретает гомогенную структуру и по прочности превосходит мембранное полотно, при условии, что сварка произведена правильно и с помощью специальных устройств. Сварочное оборудование для мембранной кровли – электрические генераторы горячего воздуха. Они имеют различные виды сопел и могут менять собственную скорость передвижения, а также скорость воздушного потока и его температуру.</li>
	<li>клеевое соединение. В местности с сильными ветрами или при работе с крышами сложной геометрии мембрана приклеивается специальным клеем к кровле.</li>
</ul>
<p>
Средний расчетный срок службы данного вида мембран составляет порядка 40-50 лет. ТПО-мембраны выпускаются в рулонах шириной от 1,5 -2,0 м, имеют толщину от 1,2-2,0 мм. Гибкость на брусе R=5 мм при температуре не менее –60 С, группа горючести Г4. 
</p>

<h2>ПВХ-мембраны</h2>
<p>
Мембрана ПВХ состоит из поливинилхлорида с большим количеством пластификаторов – чуть меньше половины состава. Пластификаторы придают материалу эластичность. В качестве армирующего слоя выступает полиэфирная сетка.
</p>
<p><img src="/assets/second3.jpg" width="500" height="300" alt="Мембранная кровля"></p>
<h3>Преимущества:</h3>
<p>Поливинилхлоридная мембрана устойчивость к ультрафиолетовому излучению.
Устойчивость к возгоранию и сопротивление пламени; богатая цветовая гамма – до 9 видов цвета. </p>
<h3>Недостатки:</h3>
<p>К недостаткам поливинилхлоридных мембран относятся следующие факторы: Пластификаторы в их составе обладают летучестью, и со временем материал утрачивает высокие механические характеристики. </p>
<p>Кроме того, это их свойство делает поливинилхлоридные мембраны экологически небезопасными.</p>
<p>Под воздействием солнечных лучей цветовой пигмент становится менее интенсивным. Мембранная крыша из ПВХ плохо противостоит различным маслам, растворителям и любым материалам на основе битума. </p>
<p>тоимость таких мембран ниже, чем ТПО. Если сравнивать цены российских и зарубежных производителей, то российские поливинилхлоридные мембраны в 2 раза дешевле импортных.</p>
<h3>Монтаж:</h3>
<p>Крепится такая мембрана с помощью тех же способов, что и ТПО-мембраны. Если выбран механический способ крепления, то по такой мембране ходить нельзя. Поэтому на кровле должны быть устроены специальные мостки, чтобы можно было производить осмотр и ремонт крыши при необходимости.</p>
<p>Обычно ПВХ-мембраны выпускаются в рулонах шириной от 1,5 м, имеют толину от 1,2-2,0 мм. Средний расчетный срок службы данного вида мембран составляет около 25-30 лет.</p>
<h2>ЭПДМ-мембраны:</h2>
<p>ЭПДМ-мембраны имеют в своей основе этиленпропилендиенмономер, или искусственный каучук. В качестве армирующего слоя выступает полиэфирная сетка, что и для ПВХ-мембран. Это самый дешевый из существующих мембранных материалов. ЭПДМ-мембраны были впервые изобретены в США полвека тому назад и уже заслужили отличные отзывы потребителей. Поскольку они обладают абсолютной водонепроницаемостью, их часто используют для инверсионных кровель. Технология устройства таких кровель предполагает использование поверхности крыши под спортивные площадки, авто- и вертолетные стоянки и т.д.</p>
<p>Крепление ЭПДМ мембраны может быть произведено балластным способом.</p>
<p>Это означает, что мембрана не прикрепляется, а просто засыпается щебнем, галькой или закладывается тротуарной плиткой, бетонными блоками.</p>
<p>Другой способ крепления ЭПДМ-мембран — сварка при помощи вулканизатора. Но в основном их крепят с помощью двусторонней клейкой ленты. Такой вариант, конечно, позволяет быстро провести работы, но механическая прочность швов не слишком высока. Технические характеристики всех видов мембран таковы, что их можно настилать поверх старого рулонного кровельного материала, не снимая его. Поэтому их можно использовать для проведения ремонтных работ. Но прежде чем настилать мембрану, нужно убедиться в том, что старое кровельное покрытие сухое. В противном случае его нужно сначала высушить, а уже затем монтировать мембрану.</p>

<p><img src="/assets/second4.jpg" width="500" height="300" alt="Мембранная кровля"></p>
<p>Средний срок эксплуатации ЭПДМ-мембран составляет не менее 40 лет без признаков старения. Благодаря большим рулонам шириной от 3 до 12 м и длиной до 60 м, и технологии укладки ЭПДМ-мембраны можно получить минимум сварных швов. Толщина данного вида полимерных мембран составляет в среднем всего 1,14 мм.</p>





		