<!-- #mainContent -->
<!-- 	<div id="mainContent"> -->
		<h1>ПВХ-мембраны</h1>
		<p>ПВХ мембраны состоят из поливинилхлорида с большим количеством пластификаторов. Пластификаторы придают ПВХ мембране эластичность. В качестве армирующего слоя выступает полиэфирная сетка. </p>

	<p><img src="/assets/pvh1.bmp" width="550" height="350" alt="Мембранная кровля"></p>

 		<h2>Преимущества</h2>
 		<p>ПВХ мембрана устойчивость к ультрафиолетовому излучению.
 Имеет высокую устойчивость к возгоранию и сопротивлению пламени; имеет богатую цветовую гамму– до 9 видов цвета. </p>
 		<p><h2>Недостатки </h2> К недостаткам ПВХ мембран относятся следующие факторы: пластификаторы обладают летучестью, и со временем ПВХ мембраны утрачивают высокие механические характеристики. Это свойство ПВХ мембран делает их экологически небезопасными.
 		</p>
		<p>
		Под воздействием солнечных лучей цветовой пигмент становится менее интенсивным. Крыша из ПВХ мембран плохо взаимодействует с различным маслам, растворителям и любым другими материалам на основе битума. 
		</p>

		<p>Стоимость таких ПВХ мембран ниже, чем ТПО мембран. Если сравнивать цены российских и зарубежных производителей, то российские ПВХ мембраны в 2 раза дешевле импортных.</p>

		<h2>Монтаж </h2>
		<p>Крепится такая ПВХ мембрана с помощью тех же способов, что и ТПО-мембраны. Если выбран механический способ, то по такой ПВХ мембране ходить нельзя. Поэтому на такой кровле должны быть сделаны специальные мостки, чтобы можно было беспрепятственно осматривать и ремонтировать крышу при необходимости.</p>
		<p>Обычно ПВХ-мембраны выпускаются в рулонах шириной от 1,5 м, имеют толщину от 1,2-2,0 мм. Средний срок службы ПВХ мембран составляет около 25-30 лет.</p>
		<p><img src="/assets/pvh2.bmp" width="775" height="500" alt="Мембранная кровля"></p>
  <table border="2">
<!--    <caption>Таблица размеров обуви</caption> -->
   <tr>
    <th>Производитель/th>
    <th>Страна</th>
    <th>Размер</th>
    <th>Примерная цена</th>
   </tr>

   <tr>

   	<td>ТехноНиколь</td>
   	<td>Россия</td>
   	<td>
   	 <p>- Logicroof – 1,2-2,0 мм толщина; 2,05 мм  ширина; 15 м – 25 м длина.</p>
     <p>- Ecoplast – 1,2-2,0 мм толщина; 2,05 мм  ширина; 15 м – 25 м длина.</p>
    </td>
	<td>От 7 у.е.</td>
   </tr>

   <tr>
   	<td>Пластфоил</td>
   	
   	<td>Россия</td>
   	<td>
   	 <p>- Plastfoil Classic 1,2-1,5 мм толщина; 1,25 мм ширина.</p>
     <p>- Plastfoil Polar – 1,2 мм, 1,5 мм толщина;  2,10 мм ширина.</p>
     <p>- Plastfoil Art – 1,5 мм толщина, 2,00 м ширина.</p>
   	 <p>- Plastfoil Geo – 1,5 мм, 2,0 мм толщина; 2,00 м ширина; 20 м длина.</p>
     <p>- Plastfoil Eco – 1,5 мм, 2,0 мм толщина; 2,10 м ширина</p>
     <p>- Plastfoil Lay – 1,5 мм толщина; 2,10 м ширина.</p>
    </td>
	<td>От 6 у.е.</td>
   </tr>

   <tr>
   	<td>Carlisle</td>
   	
   	<td>США</td>
   	<td>
   	 <p>Wild Flex - 1,27 мм, 1,52 мм и 2,03 мм толщина</p>
    </td>
	<td>От 12 у.е.</td>
   </tr>

   <tr>
   	<td>Bauder</td>
   	
   	<td>Германия</td>
   	<td>
   	 <p>Termofol – 1,2 мм, 1,5 мм, 1,8 мм, 2,0 мм толщина; 1,5 м ширина; 15 м длина</p>
    </td>
	<td>От 7 у.е.</td>
   </tr>

   <tr>
   	<td>Sika</td>
   	<td>Швейцария</td>
   	<td>
   	 <p>Sikaplan – 1,2 мм, 1,5 мм, 1,8 мм, 2,0 мм толщина; 2,0 м ширана; 15, 20 м длина.</p>
    </td>
	<td>От 10 у.е.</td>
   </tr>
  </table>

	<a name="pvh_tehnonikol"></a>
	<h2>ТехноНиколь</h2 >
	<p><strong>ТехноНиколь</strong> – это огромная компания, занимающаяся производством различных строительных материалов. Компания выпускает кровельные, теплоизоляционные, звукоизоляционные, гидроизоляционные материалы отличного качества. Все производственные линии оснащены научными лабораториями, которые осуществляют непрерывный контроль за качеством продукции. За 20 лет работы ТехноНиколь усилила свои позиции на рынке России и ближнего зарубежья. Компания имеет развитую дилерскую сеть, со своей гибкой системой скидок. Технониколь высускае следующие вида Пвх мембран:</p>
 <ul>
     <li><strong>Logicroof</strong> – ПВХ мембрана с армированием полиэстровой сеткой. Благодаря армированию материал не дает усадку и сохраняет эластичность мембраны. Применяется на кровлях с механическим креплением. ПВХ мембрана не должен иметь прямого контакта со всеми материалами, содержащими битум и растворители.</li>
     <li><strong>Ecoplast</strong> – ПВХ мембрана, при монтаже которой используется только горячий воздух. Это подойдет там, где нельзя использовать открытый огонь. Мембрана обеспечивает надежную гидроизоляцию всего одним слоем. Укладку ПВХ мембраны можно производить с большой скоростью при любых погодных условиях. </li>
 </ul>
 	<a name="pvh_plastofil"></a>
	<h2>Пластфоил </h2>
	<p><strong>Пластфоил</strong> – российская компания, лидер на рынке качественных строительных материалов. Все Пвх мембраны отвечают самым жестким требованиям к качеству, надежности, экологии и пожаробезопасности. Продукция Пластфоил получила европейский сертификат качества. Завод в Ленинградской области по производству кровельных и гидроизоляционных материалов Пластфоил является крупнейшим в Европе. Здесь выпускаются не только гидроизоляционные материалы для кровельных работ, но и материалы для подземных сооружений и искусственных водоемов. При заказе большой партии ПВХ мембран Plastfoil, можно выбрать по Ral любой цвет. Производитель выпускает следующие Пвх мембраны:</p>
   
   <ul>
     <li><strong>Plastfoil Classic</strong> – полимерная гидроизоляционная мембрана, армированная синтетической сеткой. Благодаря армированию ПВХ мембрана становится более прочной, не расползается. </li>
     <li> <strong>Plastfoil Polar</strong> - полимерная гидроизоляционная мембрана, армированная синтетической сеткой. Обладает высокой морозостойкостью, ПВХ мембрана отлично себя зарекомендовала при низких температурах. </li>
     <li><strong>Plastfoil Art</strong> – неармированная ПВХ мембрана с противомикробными добавками, защитой от ультрафиолета.  Может использоваться на любых объектах: на производственных и жилых зданиях, выставочных, торговых и складских комплексов.</li>
     <li><strong>Plastfoil Geo</strong> – неармированная ПВХ мембрана. Благодаря сигнальному желтому слою легко обнаружить повреждения гидроизоляционного ковра при монтаже ПВХ мембраны и эксплуатации. Мембрана является абсолютно биостойкой, в ней не смогут появиться грибы или микроорганизмы. Материал обладает хорошей гибкостью и эластичностью, что значительно облегчает монтаж.</li>
     <li><strong>Plastfoil Eco</strong> – армированная синтетической сеткой двухслойная полимерная ПВХ мембрана. Обладает отличными характеристиками и более низкой ценой.</li>
     <li><strong>Plastfoil Lay</strong> – бюджетный вариант полимерной ПВХ мембраны с отличными характеристиками. Может использоваться на любых объектах. </li>
   </ul>

    <a name="pvh_Carlisle"></a>
	<h2>Carlisle</h2 >
	<p><strong>Carlisle</strong> – компания является крупнейшим мировым производителем кровельных покрытий. Инновации компании позволили ей занять лидирующие позиции на рынке.  Штаб квартира компании находится в США. На рынок СНГ компания пришла в начале 90-х годов. За эти годы было реализовано много проектов с использованием мембраны Carlisle. Материал отлично себя зарекомендовал и прошел проверку временем в различных климатических зонах.</p> 
   <ul>
     <li><strong>Sure Flex</strong> – термопластичная армированная мембрана на основе поливинилхлорида, которая сваривается горячим воздухом. Эта ПВХ мембрана имеет высокое сопротивление к ударам и разрывам, горению и загрязнению, сохраняет свои свойства при высоких и низких температурах. Может быть произведен в любом цвете, даже в ультра-белом.</li>
   </ul>

    <a name="pvh_Bauder"></a>
 	<h2>Bauder</h2 >
 	<p>Компания Bauder GmbH & Co открыла свое производство в 1937 году. За свою почти вековую историю компания стала успешнейшим поставщиком кровельных мембран в мире. Bauder специализируется только на выпуске кровельных мембран. Это семейная компания, во главе угла которой стоит качество продукции. Компания выпускает следующие виды Пвх мембран:</p>

 <ul>
     <li><strong>Thermofol U</strong> – армированная сеткой из полиэстера универсальная ПВХ мембрана, подходящая для любых проектов – балластной кровли, эксплуатируемой кровли, классической кровли, применима для «зеленой кровли». Мембрана устойчива к ультрафиолету, обладает высокой износостойкостью.  </li>

   </ul>
    <a name="pvh_Sika"></a>
	<h2>Sika </h2 >
	<p>Компания Sika имеет штаб-квартиру в Швейцарии и является лидером строительной промышленности в Европе, имеет многолетний опыт в производстве ПВХ мембран, которые обладают отличными химическими, механическими и физическими качествами. Продукция компании проходит жесткий контроль качества и имеет все необходимые сертификаты качества. На все материалы распространяется заводская 10-летняя гарантия качества. </p>
	<p>Sika выпускает следующие виды ПВХ мембран:</p>
	 <ul>
     <li><strong>Sikaplan</strong> -  полимерная многослойная мембрана из высококачественного поливинилхлорида с внутренним армированием стеклохолстом.  Sikaplan имеет высокие технические, химические характеристики, обладают большой гибкостью и эластичностью, прочностью при разрыве. ПВХ мембрана использоваться на любых кровлях, в том числе и на «зеленых кровлях».</li>
   </ul>

   		<p><img src="/assets/pvh3.bmp" width="775" height="500" alt="Мембранная кровля"></p>
	<div id="mainContent">
 <!--  

 <ul>
     <li>ТПО-мембраны;</li>
     <li>ПВХ-мембраны;</li>
     <li>ЭПДМ-мембраны.</li>
   </ul>

<p></p>

	<h2>ТПО-мембраны</h2>
		<p>Мембрана ТПО (термопластичная полиолефиновая) состоит из искусственного этиленпропиленового каучука и собственно пропилена. Армирующим слоем служит сетка полиэстера или стекловолокна. Существуют разновидности без армирующего слоя. </p>
	<p><img src="/assets/second1.jpg" width="500" height="181" alt="Мембранная кровля"></p>
	<h3>Преимущества:</h3>
   <ul>
     <li>Мембранная кровля из такого материала отличается высокой прочностью. </li>
     <li>Производители обещают эксплуатационный срок более 50 лет. </li>
     <li>Поскольку в состав ТПО-мембран не входят летучие пластификаторы, они считаются экологически-безопасными.</li>


     <li>Их характеристики позволяют вести монтаж мембранной кровли при любой температуре, в том числе и в мороз. ТПО-мембраны хорошо зарекомендовали себя в северных районах, нижняя граница их эксплуатационной температуры -62°С.</li>

     <li>Повышенная прочность материала дает возможность накрывать им сложные конфигурации крыш домов и других зданий.  Все материалы, которые представлены на белорусском рынке – зарубежного производства.</li> 
   </ul>
	<p><img src="/assets/second2.jpg" width="500" height="300" alt="Мембранная кровля"></p>
<h2>Технология укладки таких мембран предусматривает 3 варианта:</h2>
<ul>
	<li>механическое закрепление с помощью саморезов к кровле. Саморезы обязательно должны крепиться через шайбу, а затем места креплений завариваются заплатками. Мембранное полотно настилается с нахлестом не менее 1,2 см. </li>
	<li>сварка горячим воздухом. В этом случае шов приобретает гомогенную структуру и по прочности превосходит мембранное полотно, при условии, что сварка произведена правильно и с помощью специальных устройств. Сварочное оборудование для мембранной кровли – электрические генераторы горячего воздуха. Они имеют различные виды сопел и могут менять собственную скорость передвижения, а также скорость воздушного потока и его температуру.</li>
	<li>клеевое соединение. В местности с сильными ветрами или при работе с крышами сложной геометрии мембрана приклеивается специальным клеем к кровле.</li>
</ul>
<p>
Средний расчетный срок службы данного вида мембран составляет порядка 40-50 лет. ТПО-мембраны выпускаются в рулонах шириной от 1,5 -2,0 м, имеют толщину от 1,2-2,0 мм. Гибкость на брусе R=5 мм при температуре не менее –60 С, группа горючести Г4. 
</p>

<h2>ПВХ-мембраны</h2>
<p>
Мембрана ПВХ состоит из поливинилхлорида с большим количеством пластификаторов – чуть меньше половины состава. Пластификаторы придают материалу эластичность. В качестве армирующего слоя выступает полиэфирная сетка.
</p>
<p><img src="/assets/second3.jpg" width="500" height="300" alt="Мембранная кровля"></p>
<h3>Преимущества:</h3>
<p>Поливинилхлоридная мембрана устойчивость к ультрафиолетовому излучению.
Устойчивость к возгоранию и сопротивление пламени; богатая цветовая гамма – до 9 видов цвета. </p>
<h3>Недостатки:</h3>
<p>К недостаткам поливинилхлоридных мембран относятся следующие факторы: Пластификаторы в их составе обладают летучестью, и со временем материал утрачивает высокие механические характеристики. </p>
<p>Кроме того, это их свойство делает поливинилхлоридные мембраны экологически небезопасными.</p>
<p>Под воздействием солнечных лучей цветовой пигмент становится менее интенсивным. Мембранная крыша из ПВХ плохо противостоит различным маслам, растворителям и любым материалам на основе битума. </p>
<p>тоимость таких мембран ниже, чем ТПО. Если сравнивать цены российских и зарубежных производителей, то российские поливинилхлоридные мембраны в 2 раза дешевле импортных.</p>
<h3>Монтаж:</h3>
<p>Крепится такая мембрана с помощью тех же способов, что и ТПО-мембраны. Если выбран механический способ крепления, то по такой мембране ходить нельзя. Поэтому на кровле должны быть устроены специальные мостки, чтобы можно было производить осмотр и ремонт крыши при необходимости.</p>
<p>Обычно ПВХ-мембраны выпускаются в рулонах шириной от 1,5 м, имеют толину от 1,2-2,0 мм. Средний расчетный срок службы данного вида мембран составляет около 25-30 лет.</p>
<h2>ЭПДМ-мембраны:</h2>
<p>ЭПДМ-мембраны имеют в своей основе этиленпропилендиенмономер, или искусственный каучук. В качестве армирующего слоя выступает полиэфирная сетка, что и для ПВХ-мембран. Это самый дешевый из существующих мембранных материалов. ЭПДМ-мембраны были впервые изобретены в США полвека тому назад и уже заслужили отличные отзывы потребителей. Поскольку они обладают абсолютной водонепроницаемостью, их часто используют для инверсионных кровель. Технология устройства таких кровель предполагает использование поверхности крыши под спортивные площадки, авто- и вертолетные стоянки и т.д.</p>
<p>Крепление ЭПДМ мембраны может быть произведено балластным способом.</p>
<p>Это означает, что мембрана не прикрепляется, а просто засыпается щебнем, галькой или закладывается тротуарной плиткой, бетонными блоками.</p>
<p>Другой способ крепления ЭПДМ-мембран — сварка при помощи вулканизатора. Но в основном их крепят с помощью двусторонней клейкой ленты. Такой вариант, конечно, позволяет быстро провести работы, но механическая прочность швов не слишком высока. Технические характеристики всех видов мембран таковы, что их можно настилать поверх старого рулонного кровельного материала, не снимая его. Поэтому их можно использовать для проведения ремонтных работ. Но прежде чем настилать мембрану, нужно убедиться в том, что старое кровельное покрытие сухое. В противном случае его нужно сначала высушить, а уже затем монтировать мембрану.</p>

<p><img src="/assets/second4.jpg" width="500" height="300" alt="Мембранная кровля"></p>
<p>Средний срок эксплуатации ЭПДМ-мембран составляет не менее 40 лет без признаков старения. Благодаря большим рулонам шириной от 3 до 12 м и длиной до 60 м, и технологии укладки ЭПДМ-мембраны можно получить минимум сварных швов. Толщина данного вида полимерных мембран составляет в среднем всего 1,14 мм.</p> -->





		