<!-- #mainContent -->
<!-- 	<div id="mainContent"> -->
	<h2>ТПО-мембраны</h2>
		<p>Мембрана ТПО (термопластичная полиолефиновая) состоит из искусственного этиленпропиленового каучука и собственно пропилена. Армирующим слоем служит сетка полиэстера или стекловолокна. Существуют разновидности без армирующего слоя. </p>
	<p><img src="/assets/tpo1.bmp" width="500" height="350" alt="Мембранная кровля"></p>
	<h3>Преимущества:</h3>
   <ul>
     <li>Мембранная кровля из такого материала отличается высокой прочностью. </li>
     <li>Производители обещают эксплуатационный срок более 50 лет. </li>
     <li>Поскольку в состав ТПО-мембран не входят летучие пластификаторы, они считаются экологически-безопасными.</li>


     <li>Их характеристики позволяют вести монтаж мембранной кровли при любой температуре, в том числе и в мороз. ТПО-мембраны хорошо зарекомендовали себя в северных районах, нижняя граница их эксплуатационной температуры -62°С.</li>

     <li>Повышенная прочность материала дает возможность накрывать им сложные конфигурации крыш домов и других зданий.  Все материалы, которые представлены на белорусском рынке – зарубежного производства.</li> 
   </ul>
	<p><img src="/assets/tpo2.bmp" width="780" height="500" alt="Мембранная кровля"></p>
<h2>Технология укладки таких ТПО мембран предусматривает 3 варианта:</h2>
<ul>
	<li>механическое закрепление при помощи саморезов к кровле. Саморезы должны обязательно крепиться через шайбу, места креплений завариваются заплатками. ТПО мембрана настилается с нахлестом не менее 1,2 см. </li>
	<li>сварка горячим воздухом. Шов при такой укладке приобретает гомогенную структуру и превосходит мембранное полотно по прочности, при условии, что сварка выполнялась правильно с помощью специального оборудования. Специальное оборудование для монтажа ТПО мембраны – электрические генераторы горячего воздуха. Они имеют различные виды сопел, могут изменять скорость передвижения, воздушного потока и температуру.</li>
	<li>клеевое соединение. В местах с сильными ветрами или при работе с крышами сложной формы монтаж ТПО мембраны производится с помощью специального клея. ТПО мембрана просто приклеивается к кровле.</li>
</ul>
<p>
Средний срок службы ТПО мембран составляет порядка 40-50 лет. ТПО-мембраны выпускаются в рулонах шириной от 1,5 -2,0 м, толщиной от 1,2-2,0 мм. Гибкость на брусе R=5 мм при температуре -60 С, группа горючести - Г4. 
</p>

  <table border="2">
<!--    <caption>Таблица размеров обуви</caption> -->
   <tr>
    <th>Производитель/th>
    <th>Страна</th>
    <th>Размер</th>
    <th>Примерная цена</th>
   </tr>

   <tr>
   	<td>ТехноНиколь</td>
   	<td>Россия</td>
   	<td>
   	 <p>- Logicroof R-PR – 1,2 мм, 1,5 мм, 1,8 мм толщина.</p>
    </td>
	<td>От 9 у.е.</td>
   </tr>

   <tr>
   	<td>Carlisle</td>
   	<td>США</td>
   	<td>
   	 <p>- Sure –Weld – 1,14 мм, 1,52 мм, 1,8 мм и 2,03 мм толщина; 1,22 м, 2,44 м, 3,05 м и 3,66 м.</p>
    </td>
	<td>От 11 у.е.</td>
   </tr>

   <tr>
   	<td>Bauder</td>
   	<td>Германия</td>
   	<td>
   	 <p>- Termoplan -  1,2 мм, 1,5 мм, 1,8 мм, 2,0 мм толщина; 1,5 м и 2,0 м ширина; 20 м, 25 м длина.</p>
   	 <p>- Thermofin  - 1,2-2,0 мм толщина; 1,5 м, 2,0 м ширина; 20 м, 25 м длина.</p>
    </td>
	<td>От 9 у.е.</td>
   </tr>

   <tr>
   	<td>Sika</td>
   	<td>Швейцария</td>
   	<td>
   	 <p>- Sarnafil  TG 66 - 1,5 мм, 1,8 мм толщина. 2,0 м ширина, 20 м длина.</p>
    </td>
	<td>От 12 у.е.</td>
   </tr>

   <tr>
   	<td>FireStone</td>
   	<td>США</td>
   	<td>
   	 <p>- UltraPly TPO - 1,2мм, 1,5мм, 1,8мм толщина; шириной рулона 1,5 м, 2 м ширина, длина 30,5 м.</p>
    </td>
	<td>От 12 у.е.</td>
   </tr>

  </table>
<a name="tpo_tehninikol"></a>
<h2>ТехноНиколь</h2>
<p>ТехноНиколь – это огромная компания, занимающаяся производством различных строительных материалов. Компания выпускает кровельные, теплоизоляционные, звукоизоляционные, гидроизоляционные материалы отличного качества. Все производственные линии оснащены научными лабораториями, которые осуществляют непрерывный контроль за качеством продукции. За 20 лет работы ТехноНиколь усилила свои позиции на рынке России и ближнего зарубежья. Компания имеет развитую дилерскую сеть, со своей гибкой системой скидок. </p>
<p>Компания выпускает следующие виды ТПО мембран:</p>
 <ul>
     <li><strong>Logicroof P-RP</strong> - полимерная ТПО мембрана для гидроизоляции кровель.Это многослойная мембрана для гидроизоляции кровель из высококачественных термопластичных полиолефинов (ТПО) в основе полипропилена (PP), которую производят методом соэкструзии, c внутренним армированием полиэстровой сеткой, которая стабилизирована против УФ - излучения. Мембрана изготовлена в соответствии со всеми Российскими стандартами и техническими условиями.</li>

   </ul> 

<a name="tpo_Carlisle"></a>
<h2>Carlisle</h2>

<p>Carlisle – компания является крупнейшим мировым производителем кровельных покрытий. Инновации компании позволили ей занять лидирующие позиции на рынке. ТПО мембрана Carlisle по техническим характеристикам считается лучшей в мире.  Штаб квартира компании находится в США. На рынок СНГ компания пришла в начале 90-х годов. За эти годы было реализовано много проектов с использованием ТПО мембраны Carlisle. Материал отлично себя зарекомендовал и прошел проверку временем в различных климатических зонах.</p>

 <ul>
     <li>компания выпускает ТПО мембрану Sure-Weld. Эта мембрана состоит из 3 слоев: 1-й слой полимерный, 2-й – прочная армирующая сетка и 3-й слой – самый верхний, очень плотный, состоит из смеси термопластичных полиолефинов. Мембрана Sure-Weld имеет лучшие показатели по гладкости, светоотражению и толщине. У мембраны широкий выбор цветов, можно выбрать из белого, бежевого, серого, или выбрать цвет из палитры ТПО мембран.</li>
   </ul>
<a name="tpo_Bauder"></a>
<h2>Bauder</h2>
<p>Компания Bauder GmbH & Co открыла свое производство в 1937 году. За свою почти вековую историю компания стала успешнейшим поставщиком кровельных мембран в мире. Bauder специализируется только на выпуске кровельных мембран. Это семейная компания, во главе угла которой стоит качество продукции. ТПО мембраны Bauder очень экологичны, они не содержат хлора, тяжелых металлов и растворителей. Их можно использовать для абсолютно любых видов плоских кровель.  Компания выпускает следующие виды ТПО мембран:</p>

 <ul>
     <li><strong>Termoplan</strong> состоит из сплава полимеров (полиофелин-полипропелен) и армирована полиэстеровой  сеткой.  ТПО мембрана очень долговечна, обладает отличной прочностью и не подвержена воздействию различных микроорганизмов. </li>
     <li><strong>Termofin</strong> – состоит из термопластичного полиолефина и армирующей сердцевины из стекловолокна. Эта ТПО мембрана очень экономична, так как может укладываться в один слой. На ней не появляются «пузыри» из-за высокой паропроницаемости. </li>

   </ul>
<a name="tpo_Sika"></a>
<h2>Sika </h2>
<p>Компания Sika имеет штаб-квартиру в Швейцарии и является лидером строительной промышленности в Европе, имеет многолетний опыт в производстве ТПО мембран, которые обладают отличными химическими, механическими и физическими качествами. Продукция компании проходит жесткий контроль качества и имеет все необходимые сертификаты качества. На все материалы распространяется заводская 10-летняя гарантия качества. </p>
<p>Sika выпускает следующие виды ТПО мембран:</p>
 <ul>
     <li><strong>Sarnafil TG</strong> – многослойная ТПО мембрана, состоящая из гибкого полиолефина со стабилизатором, и добавочного гибкого слоя из стекловолокна. Мембрана устойчива к излучению, и может использоваться в любых климатических условиях. Имеет стойкость к ударам, стабильный размер, отлично сваривается и подлежит вторичной переработке</li>
   </ul> 

<a name="tpo_Firestone"></a>
<h2>Firestone </h2>
<p>Компания Firestone мировой лидер в производстве кровельных систем. Девиз компании – Никто не сделает кровлю лучше – подтверждает непререкаемое качество продукции и уровень профессионализма. Еще одним несомненным плюсом продукции Firestone является ее экологическая чистота. Продукция соответствует всем стандартам качества и имеет все необходимые сертификаты. Компания выпускает следующие виды ТПО мембран:</p>
 <ul>
     <li><strong>UltraPly</strong>  - гибкая термопластичная полиолефиновая мембрана из этиленпропиленового каучука и полипропилена, которая армирована полиэстровым волокном. Эта Тпо мембрана имеет великолепные физические, химические и механические свойства.  Производится в виде гибкого листа светлого цвета. ТПО мембраны этого производителя устойчивы к ультрафиолетовому излучению, имеют отличную прочность стыков и устойчивы к различным атмосферным воздействиям.</li>
   </ul> 
   	<p><img src="/assets/tpo3.bmp" width="780" height="500" alt="Мембранная кровля"></p>
	<div id="mainContent">
<!-- <p></p>

<p><img src="/assets/second4.jpg" width="500" height="300" alt="Мембранная кровля"></p>
 <ul>
     <li>ТПО-мембраны;</li>
     <li>ПВХ-мембраны;</li>
     <li>ЭПДМ-мембраны.</li>
   </ul> 

   -->


		