<!DOCTYPE html>
<html>
<head>
  <title>Мембранная кровля</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link href="/assets/style.css" rel="stylesheet" type="text/css">
<!--   <link href="/assets/style.css" rel="stylesheet" type="text/css"> -->
  <link href="/assets/aaa.css" rel="stylesheet" type="text/css">

</head>



<body>
<!-- #container -->
<div id="container">
<!-- #header -->
	<div id="header">
		<h1>МОНТАЖ МЕМБРАННОЙ КРОВЛИ </h1>
		<h4>Надежно и быстро. Гарантия качестваот фирмы с 15-летней историей.</h4>
		<h1> +37529 8716219</h1>

	</div>
<!-- / #header -->
<!-- #navcontainer -->
	<div id="navcontainer">
		<ul id="navlist">
			<li ><a href="/">Главная</a></li>
			<li><a href="/gratitude">Благодарности</a></li>
			<li><a href="/telephone">Контакты</a></li>
		</ul>
	</div><div class="inner_copy"></div>
<!-- / #navcontainer -->
<!-- #sidebar1 -->
	<div id="sidebar1">
		<h3><a href="pvh">ПВХ мембраны:</a></h3>
		<div class="title_back">	
			<ul>
				<li class="sub">ТехноНиколь</li>
				<li class="sub">Пластфоил</li>
				<li class="sub">Carlisle</li>
				<li class="sub">Bauder</li>
				<li class="sub">Sica</li>
			</ul>
		</div>	
		<h3><a href="tpo">ТПО мембраны:</a></h3>
		<div class="title_back">	
			<ul>

				<li class="sub">ТехноНиколь</li>
				<li class="sub">Carlisle</li>
				<li class="sub">Bauder</li>
				<li class="sub">Sica</li>
				<li class="sub">Restone</li>
			</ul>
		</div>
		<h3><a href="epdm">ЭПДМ мембраны:</a></h3>
		<div class="title_back">	
			<ul>

				<li class="sub">Carlite</li>
				<li class="sub">Firestone</li>
				<li class="sub">Эластокров</li>
			</ul>
		</div>
	</div>

<!-- / #sidebar1 -->
<%= yield %>
	

	<br class="clearfloat">
<!-- #footer -->
<div id="footer">
	<div class="fcenter">
		<div class="fleft"><p>Copyright Statement</p></div><div class="fright"><p>Создать интернет-магазин с помощью <a href="http://www.opencartmaster.ru/">www.opencartmaster.ru</a></p></div><div class="fclear"></div>
		<div class="fleft"><p>Design by <a href="http://www.flash-templates-today.com/" title="Free Flash Templates">Free Flash Templates</a></p></div><div class="fright"><p>Best <a href="http://www.templatemonster.com/">Website Templates</a> From TemplateMonster</p></div><div class="fclear"></div>
	</div>
</div>

<!-- / #footer -->

<!-- / #container -->













</body>
</html>
