<!DOCTYPE html>
<html>
<head>
  <title>Мембранная кровля</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link href="/assets/style.css" rel="stylesheet" type="text/css">
<!--   <link href="/assets/style.css" rel="stylesheet" type="text/css"> -->
  <link href="/assets/aaa.css" rel="stylesheet" type="text/css">

</head>



<body>
<!-- #container -->
<div id="container">
<!-- #header -->
	<div id="header">
		<h1>МОНТАЖ МЕМБРАННОЙ КРОВЛИ </h1>
		<h4>Надежно и быстро. Гарантия качестваот фирмы с 15-летней историей.</h4>
		<h1> +37529 8716219</h1>

	</div>
<!-- / #header -->
<!-- #navcontainer -->
	<div id="navcontainer">
		<ul id="navlist">
			<li ><a href="/">Главная</a></li>
			<li><a href="/mounting">Мембранная кровля</a></li>
			<li><a href="/telephone">Контакты</a></li>
		</ul>
	</div><div class="inner_copy"></div>
<!-- / #navcontainer -->
<!-- #sidebar1 -->
	<div id="sidebar1">
		<h3>Sites for Webmasters</h3>
		<div class="title_back">	
			<ul>
				<li class="sub"><a href="http://templates.cooltemplates.ru/Probujdenie/index.html#">Free Css Templates</a></li>
				<li class="sub"><a href="http://templates.cooltemplates.ru/Probujdenie/index.html#">Free Flash Templates</a></li>
				<li class="sub"><a href="http://templates.cooltemplates.ru/Probujdenie/index.html#">Free Web Templates</a></li>
			</ul>
		</div>	
		<h3>Company News</h3>
		<div class="title_back">	
			<ul>
				<li>
					<h4>June 2, 2008</h4>
					<p><a href="http://templates.cooltemplates.ru/Probujdenie/index.html#"> Duis tempor posuere diam. Suspendisse vel tellus quis nunc malesuada porta. …</a></p>
				</li>
				<li>
					<h4>June 12, 2008</h4>
					<p><a href="http://templates.cooltemplates.ru/Probujdenie/index.html#">Tempus Duis tempor posuere diam. Suspendisse vel tellus quis nunc malesuada porta. …</a></p>
				</li>
			</ul>
		</div>
		<h3>Calendar</h3>
		<div class="title_back">	
			<div id="calendar">

			</div>
		</div>
	</div>

<!-- / #sidebar1 -->
<%= yield %>
	

	<br class="clearfloat">
<!-- #footer -->
<div id="footer">
	<div class="fcenter">
		<div class="fleft"><p>Copyright Statement</p></div><div class="fright"><p>Создать интернет-магазин с помощью <a href="http://www.opencartmaster.ru/">www.opencartmaster.ru</a></p></div><div class="fclear"></div>
		<div class="fleft"><p>Design by <a href="http://www.flash-templates-today.com/" title="Free Flash Templates">Free Flash Templates</a></p></div><div class="fright"><p>Best <a href="http://www.templatemonster.com/">Website Templates</a> From TemplateMonster</p></div><div class="fclear"></div>
	</div>
</div>

<!-- / #footer -->

<!-- / #container -->













</body>
</html>
