<!DOCTYPE html>
<html>
<head>
  <title>Мембранная кровля</title>
  <meta name="google-site-verification" content="ByNYShZiIi6sYpTox_FgDAxmnMQOby1IfM_CMBTIyTo" />
  <meta name="yandex-verification" content="738c29ffe6e7a152" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="Мембранная кровля, ПВХ мембраны, ТехноНиколь, Пластфоил, Carlisle, Bauder, Sika, ТПО мембраны, Firestone, Эластокров, ЭПДМ мембраны, Мембранная кровля в Беларуси">
  <meta name="description" content="Мембранная кровля в Беларуси">
  <link href="/assets/style.css" rel="stylesheet" type="text/css">
<!--   <link href="/assets/style.css" rel="stylesheet" type="text/css"> -->
  <link href="/assets/aaa.css" rel="stylesheet" type="text/css">

</head>

<body>
<!-- #container -->
<div id="container">
<!-- #header -->
	<div id="header">
		<h1>МОНТАЖ МЕМБРАННОЙ КРОВЛИ </h1>
		<h4>Надежно и быстро. Гарантия качестваот фирмы с 15-летней историей.</h4>
		<h1> +37529 8716219</h1>

	</div>
<!-- / #header -->
<!-- #navcontainer -->
	<div id="navcontainer">
		<ul id="navlist">
			<li ><a href="/">Главная</a></li>
			<li><a href="/gratitude">Благодарности</a></li>
			<li><a href="/telephone">Контакты</a></li>
		</ul>
	</div><div class="inner_copy"></div>
<!-- / #navcontainer -->
<!-- #sidebar1 -->
	<div id="sidebar1">
		<h3><a href="pvh">ПВХ мембраны:</a></h3>
		<div class="title_back">	
			<ul>				
				<li class="sub"><a href="pvh#pvh_tehnonikol">ТехноНиколь</a></li>
				<li class="sub"><a href="pvh#pvh_plastofil">Пластфоил</a></li>
				<li class="sub"><a href="pvh#pvh_Carlisle">Carlisle</a></li>
				<li class="sub"><a href="pvh#pvh_Bauder">Bauder</a></li>
				<li class="sub"><a href="pvh#pvh_Sika">Sika</a></li>
			</ul>
		</div>	
		<h3><a href="tpo">ТПО мембраны:</a></h3>
		<div class="title_back">	
			<ul>

				<li class="sub"><a href="tpo#tpo_tehnonikol">ТехноНиколь</a></li>
				<li class="sub"><a href="tpo#tpo_Carlisle">Carlisle</a></li>
				<li class="sub"><a href="tpo#tpo_Bauder">Bauder</a></li>
				<li class="sub"><a href="tpo#tpo_Sika">Sika</a></li>
				<li class="sub"><a href="tpo#tpo_Firestone">Firestone</a></li>
			</ul>
		</div>
		<h3><a href="epdm">ЭПДМ мембраны:</a></h3>
		<div class="title_back">	
			<ul>

				<li class="sub"><a href="epdm#epdm_Carlisle">Carlisle</a></li>
				<li class="sub"><a href="epdm#epdm_Firestone">Firestone</a></li>
				<li class="sub"><a href="epdm#epdm_elastokrov">Эластокров</a></li>
			</ul>
		</div>
	</div>

<!-- / #sidebar1 -->
<%= yield %>
	

	<br class="clearfloat">
<!-- #footer -->
<div id="footer">
	<div class="fcenter">
		<div class="fleft"><p>Минск 2016</p></div>
		<div class="fright"><p>МОНТАЖ МЕМБРАННОЙ КРОВЛИ</p></div>
		<div class="fclear"></div>
		<div class="fleft"><p>Design by <a href="http://intersite.by/" title="Free Flash Templates">Intersite.by</a></p></div>
		<div class="fright"><p>+37529 8716219</div>
	</div>
</div>

<!-- / #footer -->

<!-- / #container -->













</body>
</html>
